{{#each data}}

    <div class="row offer">
        <div class="row">
            <div class="col-md-6">
                <h3>{{title}}</h3>
                <p>posted by <b>{{user}}</b> on 2107</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <figure>
                    <img src={{img}}>
                    <figcaption>Region: <b>{{region}}</b></figcaption>
                    <figcaption>Price: <b>{{price}} </b>&#36;</figcaption>
                    <figcaption id="count-comments" data-object-id="{{objectId}}"><a href="#/search">Comments: <b>{{comments.length}}</b></a></figcaption>
                </figure>

            </div>
            <div class="col-md-8">
                <p class="text">{{text}}</p>
            </div>
        </div>
        <a id="comment-btn" data-object-id="{{objectId}}" class="btn btn-default pull-right">Comment</a>
        <textarea cols="45" rows="7"></textarea>

    </div>


{{/each}}