{{#each data}}

    <div class="row offer">
        <div class="row">
            <div class="col-md-10">
                <h3>{{title}}</h3>
                <p>
                    Posted by <span>{{user}}</span>
                    on {{formatDate created}} |
                    <span id="count-comments" data-object-id="{{objectId}}">
                        <a href="#search">comments: <span>{{comments.length}}</span></a>
                    </span>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <figure>
                    <img class="offer-img" src={{img}}>
                    <figcaption>Region: <span>{{region}}</span></figcaption>
                    <figcaption>Price: <span>{{price}} &#36;</span></figcaption>
                </figure>

            </div>
            <div class="col-md-8">
                <p class="text">{{text}}</p>
            </div>
        </div>
        <a id="comment-btn" href="#search" data-object-id="{{objectId}}" class="webly-btn pull-right">Comment</a>
        <textarea cols="45" rows="7"></textarea>
    </div>

{{/each}}

<!--PAGINATION-->
<div class="pagination">

</div>
